
<h1 class="text-center" style="margin-top: 10px; margin-bottom: 14px;color:darkcyan;">{{title}}</h1>
<div style="background: steelblue;">
<div class="container">
    <div class="row"  >
        <div class="col-lg-2">
            <a routerLink = "employees" class="btn" style="color: white;"> Employee List </a> 
        </div>
        <div class="col-lg-2">
            <a routerLink = "create-employee" class="btn" style="color: white;"> Add Employee </a> 
        </div>        
    </div>      
</div>
</div>

<div class="container">    
    <router-outlet></router-outlet>
</div>